<div class="row">
  <div class="col-md-3 col-sm-2 col-xs-12" *ngFor="let stu of faculties">
    <div class="card">
      <img class="card-img-top" src="{{stu.FacultyImage}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> {{ stu.FacultyName }} </h5>     
        <h6 class="card-title"> {{ stu.FacultyDesignation }} </h6>
        <h6 class="card-title"> {{ stu.FacultyHighestEducation }} </h6>
        <h6 class="card-title"> {{ stu.FacultyEmailAddress }} </h6>
        <a class="btn btn-primary" (click) = "readDetails(stu.FacultyID)" >Read More </a>
      </div>
    </div>
  </div>
</div>