<div style="width: 500px;" class="row">
    <div class="col-md-12"> 
        
    <div style="text-align: center;">
        <hr >
        <legend> Personal Detail </legend>
        <hr>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Student Name : </label>
        <input type="text" [(ngModel)] = "studentname" class="form-control" id="formGroupExampleInput" placeholder="Student Name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">DOB : </label>
        <input type="text"  [(ngModel)] = "dob" class="form-control" id="formGroupExampleInput2" placeholder="Date of Birth">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Gender : </label>
        <input type="text" [(ngModel)] = "gender"  class="form-control" id="formGroupExampleInput2" placeholder="Gender">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Hobby : </label>
        <input type="text" [(ngModel)] = "hobby"  class="form-control" id="formGroupExampleInput2" placeholder="Hobby">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Address : </label>
        <input type="text" [(ngModel)] = "address"  class="form-control" id="formGroupExampleInput2" placeholder="Address">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Email : </label>
        <input type="text" [(ngModel)] = "email"  class="form-control" id="formGroupExampleInput2" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Mobile No. : </label>
        <input type="text" [(ngModel)] = "studentmobile"  class="form-control" id="formGroupExampleInput2" placeholder="Mobile Number">
    </div>
    <br>


    <div style="text-align: center;">
        <hr >
        <legend> Student Family Detail </legend>
        <hr>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Father Name : </label>
        <input type="text" [(ngModel)] = "fathername"  class="form-control" id="formGroupExampleInput2" placeholder="FAther Name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Mother Name : </label>
        <input type="text" [(ngModel)] = "mothername"  class="form-control" id="formGroupExampleInput2" placeholder="Mothter Name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Contact No. : </label>
        <input type="text"  [(ngModel)] = "homemobile" class="form-control" id="formGroupExampleInput2" placeholder="Contact Number">
    </div>
    <br>


    <div style="text-align: center;">
        <hr >
        <legend> Student Detail </legend>
        <hr>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">School Name : </label>
        <input type="text"  [(ngModel)] = "tenschool" class="form-control" id="formGroupExampleInput2" placeholder="10th School Name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">10th Percentage : </label>
        <input type="text" [(ngModel)] = "tenpercentage"  class="form-control" id="formGroupExampleInput2" placeholder="10th Percentage">     
    </div>
    <div class="row" style="width: 500px;">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Maths</label>
          <input type="text" [(ngModel)] = "tenmath"  class="form-control" id="inputEmail4" placeholder="Mark">
        </div>
        <div class="form-group col-md-3">
          <label for="inputPassword4">Science</label>
          <input type="text" [(ngModel)] = "tenscience"  class="form-control" id="inputPassword4" placeholder="Mark">
        </div>
    </div>


    <div class="form-group">
        <label for="formGroupExampleInput2">School Name : </label>
        <input type="text" [(ngModel)] = "twelveschool"  class="form-control" id="formGroupExampleInput2" placeholder="12th School Name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">12th Percentage : </label>
        <input type="text" [(ngModel)] = "twelvepercentage"  class="form-control" id="formGroupExampleInput2" placeholder="12th Percentage">
    </div>
    <div class="row" style="width: 750px;">
        <div class="form-group col-md-2">
          <label for="inputEmail4">Physics</label>
          <input type="text" [(ngModel)] = "twelvephysics"  class="form-control" id="inputEmail4" placeholder="Mark">
        </div>
        <div class="form-group col-md-2">
          <label for="inputPassword4">Chemistry</label>
          <input type="text" [(ngModel)] = "twelvechemistry"  class="form-control" id="inputPassword4" placeholder="Mark">
        </div>
        <div class="form-group col-md-2">
            <label for="inputPassword4">Maths</label>
            <input type="text" [(ngModel)] = "twelvemath"  class="form-control" id="inputPassword4" placeholder="Mark">
          </div>
    </div>
    <br>


    <div style="text-align: center;">
        <hr >
        <legend> Course Detail </legend>
        <hr>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Course : </label>
        <input type="text" [(ngModel)] = "course"  class="form-control" id="formGroupExampleInput2" placeholder="Course">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Branch : </label>
        <input type="text"  [(ngModel)] = "branch" class="form-control" id="formGroupExampleInput2" placeholder="Branch">
    </div>
    <br>


    <div style="text-align: center;">
        <hr >
        <legend> Bank Detail </legend>
        <hr>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Bank Name : </label>
        <input type="text" [(ngModel)] = "bankname"  class="form-control" id="formGroupExampleInput2" placeholder="Bank Name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Account No. : </label>
        <input type="text" [(ngModel)] = "bankaccountno"  class="form-control" id="formGroupExampleInput2" placeholder="Bank Account Number">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Aadhar Card No. : </label>
        <input type="text" [(ngModel)] = "aadharno"  class="form-control" id="formGroupExampleInput2" placeholder="Aadhar Card Number">
    </div>
  
    </div>
</div>
<br>
<div class="row" style="margin: 0 0 30px 170px;">
    <div class="clo-md-6">
        <button type="button" (click) = "addStudent()" *ngIf="selectedrecord===null" class="btn btn-success">Submit Details</button>
    </div>
    <div class="clo-md-6">
        <button type="button" (click) = "editRecord()" *ngIf="selectedrecord!==null" class="btn btn-success">Edit Details</button>
    </div>
    <div class="clo-md-6">
        <button type="button" class="btn btn-danger">Cancle</button>
    </div>
</div>

<div class="col-md-3">
    <table class="table table-hower" style="width: 500px;">
        <tbody>
            <tr *ngFor="let detail of studentinformation; let i = index">
                <th scope="row"> {{ i+1 }} </th>
                <div *ngIf="show == true">
                    <td> {{ detail.studentname_ }} </td>
                    <td> {{ detail.email_ }} </td>
                    <td> {{ detail.branch_ }} </td>
                    <td> <input type="button" (click) = "showDetail(i)" *ngIf="showBtn==true" class="btn btn-primary" value="Show"> </td>
                    <td> <input type="button" (click) = "hideDetail(i)" *ngIf="showBtn==false" class="btn btn-primary" value="Hide"> </td> 
                </div>
            </tr>
            <div *ngIf="show == false">
                <ul class="list-group">
                    <li class="list-group-item"> Student Name : {{ studentname }} </li>
                    <li class="list-group-item"> Date of Birth {{ dob }} </li>
                    <li class="list-group-item"> Gender : {{ gender }} </li>
                    <li class="list-group-item"> Hobby : {{ hobby }} </li>
                    <li class="list-group-item"> Email : {{ email }} </li>
                    <li class="list-group-item"> Address : {{ address }} </li> 
                    <li class="list-group-item"> Mobile : {{ studentmobile }} </li>
                    <li class="list-group-item"> Father Name : {{ fathername }} </li>
                    <li class="list-group-item"> Mother Name : {{ mothername }} </li>
                    <li class="list-group-item"> Contact No. : {{ homemobile }} </li>
                    <li class="list-group-item"> School Name : {{ tenschool }} </li>
                    <li class="list-group-item"> Percentage : {{ tenpercentage }} </li>
                    <li class="list-group-item"> Maths : {{ tenmath }} </li>
                    <li class="list-group-item"> Science : {{ tenscience }} </li>
                    <li class="list-group-item"> School Name : {{ twelveschool }} </li>
                    <li class="list-group-item"> Percentage : {{ twelvepercentage }} </li>
                    <li class="list-group-item"> Physics : {{ twelvephysics }} </li>
                    <li class="list-group-item"> Chemistry : {{ twelvechemistry }} </li>
                    <li class="list-group-item"> Maths : {{ twelvemath }} </li>
                    <li class="list-group-item"> Course : {{ course }} </li>
                    <li class="list-group-item"> Branch : {{ branch }} </li>
                    <li class="list-group-item"> Bank : {{ bankname }} </li>
                    <li class="list-group-item"> Account No. : {{ bankaccountno }} </li>
                    <li class="list-group-item"> Aadhar No. : {{ aadharno }} </li>
                </ul>

                </div>
        </tbody>
    </table>
</div>