<table class="table" style="margin-left: 110px;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">View</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Darshan</td>
        <td>Patel</td>
        <td>mail@gmail.com</td>
        <td> <input type="button" class="btn btn-info" value="View"> </td>
        <td> <input type="button" class="btn btn-warning" value="Edit"> </td>
        <td> <input type="button" class="btn btn-danger" value="Delete"> </td>
      </tr>
    </tbody>
  </table>